PUSHI 3
PUSHI 0
PUSHI 0
START
READ
ATOI
STOREG 2
PUSHG 2
STOREG 1
PUSHG 0
PUSHI 1
SUB 
STOREG 0
W0: nop
PUSHG 0
PUSHI 0
SUP 
JZ EW0
READ
ATOI
STOREG 2
PUSHG 1
PUSHG 2
MUL 
STOREG 1
PUSHG 0
PUSHI 1
SUB 
STOREG 0
JUMP W0
EW0: nop
PUSHG 1
STRI
WRITES
STOP
